*
!.gitignore

!/selinux
!/latex

!/.gdbinit
!/.gemrc
!/.gitconfig
!/.globalrc
!/.hgrc
!/.tmux.conf
!/.toprc
!/.user-config.jam
!/.vimperatorrc
!/.vimrc
!/.zshrc

!/.local/build.extensions
!/.local/genhttplogs
!/.local/proposed

!/.local/bin/git-empty-dir

!/.local/sbin/ganbattar
!/.local/sbin/import-prefix.sh
!/.local/sbin/timedout

!/.local/share/gnome3/

!/.vim/colors
