[submodule ".local/build.extensions"]
	path = .local/build.extensions
	url = ../build.extensions.git
[submodule ".local/genhttplogs"]
	path = .local/genhttplogs
	url = https://gist.github.com/2037301.git
[submodule ".local/Gyazo-for-Linux"]
	path = .local/Gyazo-for-Linux
	url = ../Gyazo-for-Linux/
[submodule ".local/proposed/check-soa"]
	path = .local/proposed/check-soa
	url = https://github.com/bortzmeyer/check-soa.git
[submodule ".local/proposed/netest"]
	path = .local/proposed/netest
	url = https://github.com/yuyarin/netest.git
[submodule ".local/proposed/spark"]
	path = .local/proposed/spark
	url = https://github.com/holman/spark.git
