[submodule "deps/build.extensions"]
	path = deps/build.extensions
	url = ../build.extensions.git
[submodule "deps/genhttplogs"]
	path = deps/genhttplogs
	url = https://gist.github.com/2037301.git
[submodule "deps/proposed/check-soa"]
	path = deps/proposed/check-soa
	url = https://github.com/bortzmeyer/check-soa.git
[submodule "deps/proposed/netest"]
	path = deps/proposed/netest
	url = https://github.com/yuyarin/netest.git
[submodule "deps/proposed/spark"]
	path = deps/proposed/spark
	url = https://github.com/holman/spark.git
